@import '_reset.scss';

html {
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 1px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  color: $brown_dark2;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
#__layout {
  position: relative;
}
/*----------------------------------------*/
// Module
/*----------------------------------------*/
.m {
  // button
  &-btn {
    position: relative;
    min-width: 242px;
    width: 75%;
    margin: 0 auto;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: spvw(-6px);
      left: spvw(6px);
      border-radius: 2px;
      border: 3px solid #6c655d85;
    }
    &__inr {
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      text-decoration: none;
      padding: spvw(20px) 0 spvw(20px);
      border-radius: 2px;
      border: 3px solid $brown_dark2;
      background: #fdfcf887;
      color: $brown_dark2;
    }

    &__txt {
      display: block;
      text-align: center;
      line-height: 1.2;
      &--main {
        @include josefin-b();
        font-size: spfz(24px);
        letter-spacing: 0.05em;
      }
      &--sub {
        @include notosans-m();
        font-size: spfz(12px);
        opacity: 0.8;
        padding-top: 0.1em;
      }
    }

    &--small {
      min-width: 160px;
      width: 40%;
      &:after {
        // border: spvw(2px) solid #6c655d85;
      }
      .m-btn {
        &__inr {
          padding: spvw(12px) 0 spvw(12px);
          // border: spvw(2px) solid $brown_dark2;
        }
        &__txt {
          &--main {
            font-size: spfz(14px);
          }
        }
      }
    }
  }

  &-link {
    text-align: center;
    &__inr {
      display: inline-block;
      color: $brown_dark2;
      text-decoration: none;
      &::before {
        content: '';
        display: inline-block;
        width: spvw(7px);
        height: spvw(10px);
        background: url('~@/assets/img/common/icon_arrow_dropleft.svg') no-repeat;
        background-size: contain;
      }
    }
    &__txt {
      display: inline-block;
      padding-left: 0.5em;
    }
  }

  // page title
  &-ttl {
    text-align: center;
    padding-top: spvw(24px);
    &__logo {
      text-align: center;
      margin-bottom: spvw(13px);
    }
    &__txt {
      position: relative;
      display: inline-block;
      @include josefin-b();
      font-size: spfz(28px);
      color: $brown_dark2;
      text-align: center;
      line-height: 1.2;
      span {
        position: relative;
        display: inline-block;
        z-index: 110;
      }

      &:after {
        content: '';
        display: inline-block;
        width: 110%;
        height: spvw(12px);
        background: $brown_pale3;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-5%);
        z-index: 100;
      }
    }
  }

  // section title
  &-secTtl {
    margin-bottom: spvw(30px);
    padding: spvw(30px) 14px 0;
    @include josefin-m();
    text-align: center;
    position: relative;

    &--sub {
      display: inline-block;
      font-size: spfz(10px);
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 110%;
        height: 0.8em;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-5%);
        background: #d3cfc5;
        z-index: 100;
      }
    }
    &--subInr {
      position: relative;
      z-index: 110;
    }
    &--main {
      font-size: spfz(22px);
      border-bottom: 1px solid $brown_dark2;
    }
    &:after,
    &:before {
      content: '◆';
      display: inline-block;
      font-size: spfz(10px);
      position: absolute;
      bottom: 0;
      line-height: 0;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: opacity 1s;
}
.js-scroll {
  &.is-fadeUp {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    &.is-view {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
